<% layout("./layouts/boilerplate") %>
<body>
    <ul class="list">
        <% for(listing of allListings){ %>
            <hr>
            <li class="item"><%=listing.title %> </li>
            <li class="item"><%=listing.description %> </li>
            <li class="item">&#8377;<%=listing.price.toLocaleString("en-in") %> </li>
            <li class="item"><%=listing.location %> </li>
            <li class="item"><%=listing.country %> </li>
            <a href="/listing/show/<%=listing.id%>">Show</a>
            <br>
            <a href="/listing/delete/<%=listing.id%>">Delete</a>
        <%}%>
    </ul>
</body> 