<% layout("./layouts/boilerplate") %>
    <!-- div1 containing the listing -->
    <div class="row mt-3">
        <!-- heading subdiv -->
        <div class="col-8 offset-3">
            <h2>
                <%=listing.title %>
            </h2> <br>
        </div>
        <!-- //subdiv containing image and info about the listing -->
        <div class="card listing-card col-6 offset-3 show-card">
            <img src="<%=listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <br>
                <p class="card-text">
                    </b>
                    <%=listing.description %> <br>
                        &#8377; <%=listing.price.toLocaleString("en-in") %>/night <br>
                            <%=listing.country %> <br>
                                <%=listing.location %>
                </p>
            </div>
        </div>
    </div>

    <!-- div2 containing delete and update button -->
    <div class="btns">
        <a href="/listing/update/<%=listing.id%>" class="btn btn-dark add-btn">Update</a>
        <a href="/listing/delete/<%=listing.id%>" class="btn btn-dark add-btn">Delete</a>
    </div>

    <!-- div3 containing reviews -->
    <div class="col-8 offset-3">
        <h4>Leave a review</h4>
        <hr>
        <form action="/listing/<%=listing.id%>/review" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                    required></textarea>
                <div class="invalid-feedback">Please add a comment </div>
            </div>
            <br>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <h4>All reviews</h4>
        <div class="row">
            <%for(review of listing.reviews){%>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">John</h5>
                        <div class="card-text">
                            <%=review.comment%>
                        </div>
                        <div class="card-text">
                            <%=review.rating%> stars
                        </div>
                        <form class="mt-3 mb-3" method="post" action="/listing/<%=listing._id%>/review/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                </div>
                <br>
                <%}%>
        </div>
    </div>